html, body{
  border:0;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
}
#slideshow,
#slideshow>div{
  height:100%;
  width:100%;
  overflow:hidden;
}
iframe{
   border:0;
   width:100%;
   height:100%;
}
#netstats>*{
  margin:1em;
}
#netstats h2{
  clear:both;
}
#netstats img{
  float:left;
}
#slidehow{
  background-color:#000;
  position:relative;
}
#slidehow img{
  width:100%;
}
